http://blog.drdplus.loc:2015 {
    tls mail@jaroslavtyc.com
    gzip
    fastcgi / 127.0.0.1:9000 php {
        ext   .php
        split .php
        index index.php
    }
    root /var/www/blog
    log /var/log/caddy
    errors {
        404 404.html
    }
}

http://update.blog.drdplus.loc:2015 {
    tls mail@jaroslavtyc.com
    gzip
    fastcgi / 127.0.0.1:9000 php {
        ext   .php
        split .php
        index index.php
    }
    root /var/www/update.blog
    log /var/log/caddy
}
